# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environnement virtuel
.venv/
venv/
env/

# IDE
.vscode/
.idea/
pourinfo/biere.conf
pourinfo/settings.py
